<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Quantiade</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of produtos | async">
      <td>{{item.descricao}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.valorUnidade}}</td>
      <td>
        <button class="btn btn-info" (click)="editar(item, item.id)">Editar</button>
        <button class="btn btn-danger ml-2" (click)="deletar(item)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
